* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

form {
  width: 438px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 18px;
  background-color: white;
  box-shadow: 0 0 20px 20px rgba(0.1, 0.1, 0.1, 0.1);
}

.logo-img {
  margin-top: 40px;
  margin-bottom: 30px;
}

 form label {
  align-self: flex-start;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

form input {
  border: none;
  border-radius: 9px;
  width: 350px;
  height: 18px;
  background-color: #F1F1F1;
  padding: 20px;
}

.btn-login {
  background: #02274F;
  border-radius: 9px;
  width: 390px;
  padding: 15px;
  color: white;
  margin: 30px;
  margin-bottom: 40px;
  font-size: large;
  font-weight: bold;
}

.error {
  margin-top: 15px;
  color: rgb(228, 115, 115);
}