* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 438px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 18px;
  background-color: white;
  box-shadow: 0 0 20px 20px rgba(0.1, 0.1, 0.1, 0.1);
}

.logo-img {
  margin-top: 40px;
  margin-bottom: 30px;
}

.label-element {
  align-self: flex-start;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-element {
  border: none;
  border-radius: 9px;
  width: 350px;
  height: 18px;
  background-color: #F1F1F1;
  padding: 20px;
}

.btn {
  background: #02274F;
  color: white;
  font-size: large;
  font-weight: bold;
}

.btn-login {
  width: 390px;
  padding: 15px;
  margin: 30px;
  margin-bottom: 40px;
  border-radius: 9px;
}

.error {
  margin-top: 15px;
  margin-left: 20px;
  color: #B3261E;
}

main {
  background-color: #F1F5F9;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container {
  width: 356px;
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 18px;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0.1, 0.1, 0.1, 0.1);
}

.img-text {
  margin-top: 40px;
  font-size: small;
}

.img-element {
  width: 58px;
  height: 56px;
  margin-top: 10px;
  font-size: small;
}

.user-details {
  width: 100%;
}

.p-title {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.p-details {
  border: none;
  border-radius: 8px;
  background-color: #F1F1F1;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: small;
  width: 270px;
  padding: 13px;
  padding-left: 20px;
}

header {
  top: 0px;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-logout {
  padding: 10px;
  width: 272px;
  margin-right: 20px;
  border-radius: 6.33px;
}